<div class="news">
{% if site.lab_news != blank -%}
{%- assign news_size = site.lab_news | size -%}
<div class="table-responsive" {% if include.limit and site.lab_announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
<table class="table table-sm table-borderless">
{%- assign news = site.lab_news | reverse -%}
{% if include.limit and site.lab_announcements.limit %}
{% assign news_limit = site.lab_announcements.limit %}
{% else %}
{% assign news_limit = news_size %}
{% endif %}
{% for item in news limit: news_limit %}
<tr>
<th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
<td>
{% if item.inline -%}
{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
{%- else -%}
<a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
{%- endif %}
</td>
</tr>
{%- endfor %}
</table>
</div>
{%- else -%}
<p>No news so far...</p>
{%- endif %}
</div>
